<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2 th:text="'Welcome '+ ${user.username }+'!'"></h2>
<h1>Employee Management System</h1>

<form action="#" th:action="@{./login}" th:object="${user}" >
	Enter UserName : <input type="text" th:field="*{username}"><br><br>
	Enter password : <input type="password" th:field="*{password}"><br><br>
	<input type="submit" value="Login">
</form>



</body>
</html>